package components

templ PluginSections(sections []templ.Component) {
	if len(sections) > 0 {
		for i, section := range sections {
			if i > 0 {
				<hr class="my-6 border-border"/>
			}
			@section
		}
	}
}
